
/* affichage debug calcul hitbox
#tmp {
	position: absolute;
	height: 5px;
	width: 5px;
	background: blue;
	z-index: 999;
	border-radius: 50px;
}*/

#background, #map {
	position: fixed;
	top: 0;
	left: 0;
}

.joueur {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 100px;
	width: 50px;
	background: red;
	display: inline-block;
	z-index: 10;
	/*//transition-timing-function: linear;
	//transition: top 0.2s, left 0.2s;*/
}

.balle {
	position: fixed;
	height: 5px;
	width: 5px;
	background: black;
	display: inline-block;
	border-radius: 100px;
	z-index: 5;
	/*//transition-timing-function: linear;
	//transition: top 0.2s, left 0.2s;*/
}


#btnMapAlea {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 100px;
    height: 30px;
    background-color: #55ff6c;
}
#btnDevMap {
    position: absolute;
    top: 50px;
    right: 25px;
    width: 100px;
    height: 30px;
    background-color: #ff0f00;
}