#background {
    position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

}


#btnMapAlea {
    position: absolute;
    top: 20%;
    left: 80%;
    width: 200px;
    height: 50px;
    background-color: #55ff6c;
}
#btnDevMap {
    position: absolute;
    top: 50px;
    right: 25px;
    width: 100px;
    height: 30px;
    background-color: #ff0f00;
}
#btnNewGame{
    position: absolute;
    top: 100px;
    right: 25px;
    width: 100px;
    height: 30px;
    background-color: #fffe00;
}
#btnDevMap2 {
    position: absolute;
    top: 150px;
    right: 25px;
    width: 100px;
    height: 30px;
    background-color: #ff0f00;
}