body {
    background: url("../img/background.jpg");
}

#background {
    position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('../img/parquet.jpg');
}


#devTool button {
    width: 80px;
    height: 20px;
    margin: 5px 10px;
    border-radius: 2px;
    border-color: transparent;
    background-color: #6080ff;
    color: white;
}
#devTool p {
    width: 80px;
    height: 20px;
    margin: 5px 10px;
    font-size: 15px;
    font-family: "Source Code Pro";
    color: white;
}


#btnNewGame {
    position: relative;
    top: 5%;
    left: 60%;
    width: 300px;
    font-size: 30px;
    font-family: Verdana;
    height: 100px;
    border-color: transparent;
    background-color: transparent;
    /*animation: blink linear 1s infinite alternate;*/
    animation: blink linear 1s infinite alternate;
}
#game {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 800px;
    width: 800px;
}

#devTool {
    position: absolute;
    left: 10px;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    background-color: #6670ac;

}

@keyframes blink {
    0% {
        font-size: 20px;
    }
    10% {
        font-size: 21px;
    }
    20% {
        font-size: 22px;
    }
    30% {
    	font-size: 23px;
    }
    40% {
    	font-size: 24px;
    }
    50% {
        font-size: 25px;
    }
    60% {
    	font-size: 26px;
    }
    70% {
        font-size: 27px;
    }
    80% {
    	font-size: 28px;
    }
    90% {
    	font-size: 29px;
    }
    100% {
        font-size: 30px;
    }
}